{:poly.web.sql.interface/db-spec  {:dbtype   "postgres"
                                   :dbname   "app"
                                   :username "pguser"
                                   :password "pgpass"
                                   :host     "localhost"
                                   :port     6432}
 :poly.web.sql.interface/db-pool {:db-spec #ig/ref :poly.web.sql.interface/db-spec}}
