{:paths ["src" "resources"]
 :deps {com.xtdb/xtdb-core {:mvn/version "1.24.0"}
        com.xtdb/xtdb-rocksdb {:mvn/version "1.24.0"}
        com.xtdb/xtdb-jdbc {:mvn/version "1.24.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
