{:paths   ["src" "resources"]
 :deps    {;; Micro-framework for managing components with runtime state.
           integrant/integrant             {:mvn/version "0.8.0"}
           ;; Date / Time manipulation
           clj-time/clj-time               {:mvn/version "0.15.2"}
           ;; JWT signing and unsigning
           buddy/buddy-sign                {:mvn/version "3.4.333"}
           ;; Password encryption and decryption
           crypto-password/crypto-password {:mvn/version "0.2.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {;; Dependency for Spec generators
                                org.clojure/test.check {:mvn/version "0.9.0"}}}}}
