{:deps {org.clojure/clojure          {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        ;; Components
        poly/sql                     {:local/root "../../components/sql"}
        poly/logging                 {:local/root "../../components/logging"}
        poly/config                  {:local/root "../../components/config"}
        poly/auth                    {:local/root "../../components/auth"}
        poly/spec                    {:local/root "../../components/spec"}
        poly/user                    {:local/root "../../components/user"}
        ;; Bases
        poly/rest-api                {:local/root "../../bases/rest-api"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {poly/test-utils {:local/root "../../components/test-utils"}}}

           :uberjar {:main poly.web.rest-api.core}}}
